

<div style="margin-top:15%;">Please section</div>
<div class="row m-5" style="height:75%">

    <a  class="btn btn-primary m-5" onclick="QuestionProcess()">Question Process</a>
    <a  class="btn btn-secondary  m-5" onclick="GotoQuestionAnswer()">Question Answer</a>

</div>
<script>
    function QuestionProcess() {
        window.location = "/Home/QuestionProcessPage"
    }



</script>
